<!DOCTYPE html>
<html lang="en">

<head>
    <title>Status Page</title>
</head>

<style>
    body {
        {% if the_state%2 == 0 %}
        background-color: yellow;
        {% else %}
        background-color: blue;
        {% endif %}
    }

    div {
        font-family: "Georgia";
        font-size: 30px;
    }

</style>

<body>

    {% if the_state == 1 %}
    <div>State 1.</div>

    {% elif the_state == 2 %}
    <div>State 2.</div>

    {% elif the_state == 3 %}
    <div>State 3.</div>

    {% elif the_state == 4 %}
    <div>State 4.</div>

    {% elif the_state == 5 %}
    <div>State 5.</div>

    {% elif the_state == 6 %}
    <div>State 6.</div>

    {% elif the_state == 7 %}
    <div>State 7.</div>

    {% elif the_state == 8 %}
    <div>State 8.</div>

    {% endif %}
    <!-- To force reload every 5 seconds -->
    <meta http-equiv="refresh" content="5" />

</body>

</html>
